{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- category wise browsing starts here ---------- -->
{% for ctg in category %}
<div class="form-check">
  <!-- <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"> -->
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ctg.id}}">
  <label class="form-check-label" for="flexRadioDefault1">
    <a href="{% url 'category_wise_post' ctg.slug %}">{{ctg.name}}</a>
  </label>
</div>
{% endfor %}

<!-- ends here ------------- -->


<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  <div><h1>Results found {{data | length}} </h1></div>

  
{% for Data in data %}
<div class="col-sm-3">
    <div class="card m-2 pt-5">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'postDetailsView' Data.id %}">{{Data.title}}</a></h5>
    {% if Data.image %}
    <img src="{{ Data.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <!-- Handle the case where there is no image -->
    <p>No Image</p> 
    {% endif %}
        <p class="card-text">{{Data.content | truncatewords:15}}</p>
        <p>Author : {{Data.author.first_name}}  {{Data.author.last_name}}</p>
        <p>Catagory :
        {% for cat in Data.catagory.all %}
        <button class="btn btn-primary btn-sm m-2" disabled >{{cat.name}} </button>
        
        {% endfor %}
        </p>
       <!-- note : Data.id to know about it , check view function , we're passing another vaoirable there -->
        <a href="{% url 'edit_post' Data.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'delete_post' Data.id  %}" class="btn btn-danger btn-sm">Delete</a>
      </div>
      
    </div>
  </div>
{% endfor %}
   
    
    
  </div>

{% endblock  %}

